<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Strona główna</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" type="img/png" href="../static/img/logo.png" />
  <link rel="stylesheet" href="../static/css/bootstrap.css">

</head>

<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="home.html">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="home.html">Strona główna
                <span class="visually-hidden">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="log_form.html">Logowanie</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="registration_form_doctor.html">Zarejestruj lekarza jako administrator</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="registration_form_staff.html">Zarejestruj personel jako administrator</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="registration_form_patient.html">Zarejestruj pacjenta</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <div class="split left">
      <div class="container">
        <div class="centered">
          <form action="LoginServlet" method="post">

            <h3 style="margin-top: 2.5em">Logowanie</h3>

            <div class="form-group">
              <label for="login">Login</label>
              <input type="text" class="form-control" name="loginInput" id="login" placeholder="Wprowadź login">
            </div>
            <div class="form-group">
              <label for="password">Hasło</label>
              <input type="password" class="form-control" name="passwordInput" id="password" placeholder="Wprowadź hasło">
            </div>

            <p class="text-danger">Błąd logowania</p>
            <div class="d-grid gap-2">
              <button class="btn btn-lg btn-primary" type="submit">Zaloguj</button>
            </div>

          </form>
        </div>
      </div>
    </div>
    <div class="vl centered"></div>

    <div class="split right">
      <div class="container">
        <div class="centered">
          <h5 class="text-warning">Nie masz konta? Zarejestruj się.</h5>
          <form action="registration_form_patient.jsp" method="get">
            <div class="d-grid gap-2">
              <button class="btn btn-lg btn-primary" type="submit">Załóż konto</button>
            </div>

          </form>
        </div>
      </div>
    </div>

  </main>

</body>

</html>
