<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>MedConnect: Rejestracja pacjenta</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="img/png" th:href="@{/img/logo.png}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>

</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">MedConnect</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
                    aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Strona główna</a>
                    </li>
                    <li th:if="${role}==null" class="nav-item">
                        <a class="nav-link" href="/login">Logowanie</a>
                    </li>
                    <li th:if="${role}==null" class="nav-item">
                        <a class="nav-link" href="/patient/registration">Rejestracja</a>
                    </li>
                    <li th:if="${role}=='PATIENT'" class="nav-item">
                        <a class="nav-link" href="/patient/menu">Pacjent</a>
                    </li>
                    <li th:if="${role}=='DOCTOR'" class="nav-item">
                        <a class="nav-link" href="/doctor/menu">Lekarz</a>
                    </li>
                    <li  th:if="${role}=='RECEPCJONISTA' or ${role}=='ADMIN'" class="nav-item">
                        <a class="nav-link active" href="/employee/menu">Pracownik</a>
                    </li>
                </ul>
                <form th:if="${role}!=null" th:action="@{/logout}" method="get" class="d-flex">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit" name="command" value="LOG OUT"
                            onclick="if(!(confirm('Czy na pewno chcesz się wylogować?'))) return false">Wyloguj
                    </button>
                </form>
            </div>
        </div>
    </nav>
</header>

<main>
    <div class="container" style="margin-bottom: 50px">
        <form action="#" th:action="@{/patient/registration}" th:object="${patient}" method="post">
            <fieldset>
                <legend style="margin-top: 1.5em">Wprowadź dane rejestrowanego pacjenta</legend>
                <div class="form-group">
                    <label class="col-form-label mt-4" for="inputPESEL">PESEL</label>
                    <input type="number" class="form-control" placeholder="Wprowadź PESEL" id="inputPESEL"
                           name="inputPESEL" th:field="*{pesel}">
                </div>
                <div class="form-group">
                    <label class="col-form-label mt-4" for="inputName">Imię</label>
                    <input type="text" class="form-control" placeholder="Wprowadź imię" id="inputName" name="inputName"
                           th:field="*{name}">
                </div>
                <div class="form-group">
                    <label class="col-form-label mt-4" for="inputSurname">Nazwisko</label>
                    <input type="text" class="form-control" placeholder="Wprowadź nazwisko" id="inputSurname"
                           name="inputSurname" th:field="*{surname}">
                </div>
                <div class="form-group">
                    <label class="col-form-label mt-4" for="inputBirth">Data urodzenia</label>
                    <input type="date" class="form-control" placeholder="Wprowadź datę urodzenia" id="inputBirth"
                           name="inputBirth" th:field="*{dateOfBirth}">
                </div>
                <div class="form-group">
                    <label class="col-form-label mt-4" for="inputPhone">Numer telefonu</label>
                    <input type="number" pattern="[0-9]{9}" class="form-control" placeholder="Wprowadź numer telefonu"
                           id="inputPhone" name="inputphone" th:field="*{phoneNumber}">
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="form-label mt-4">Email</label>
                    <input type="email" class="form-control" placeholder="Wprowadź email" id="inputEmail"
                           name="inputEmail" th:field="*{email}">
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="form-label mt-4">Hasło</label>
                    <input type="password" class="form-control" placeholder="Wprowadź hasło" id="inputPassword"
                           name="inputPassword" th:field="*{password}">
                </div>
                <div class="form-group d-grid gap-2" style="margin-top: 1.5em">
                    <button type="submit" class="btn btn-primary">Utwórz</button>
                </div>
            </fieldset>
        </form>
    </div>
</main>
</body>

</html>
