<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/passwordReset}" th:object="${passwordModel}" method="post">

    <h3 style="margin-top: 2.5em">Resetowanie hasła</h3>

    <div class="form-group">
        <label for="login">Pesel</label>
        <input type="text" class="form-control" name="loginInput" id="login" placeholder="Wprowadź login" th:field="*{pesel}">
    </div>


    <div class="d-grid gap-2">
        <button class="btn btn-lg btn-primary" type="submit">Zaloguj</button>
    </div>

</form>
</body>
</html>